PORT = 8000
MONGODB_URI = mongodb+srv://pradneshkhunte_db_user:YTX2007@cluster0.mnrgrpd.mongodb.net
ACCESS_TOKEN_SECRET = OTUdasfjDSFADSj_325hsdoafy0135alsjd-asdofiu24othoasie___3258s
ACCESS_TOKEN_EXPIRY = 1d
CORS_ORIGIN=*
REFRESH_TOKEN_SECRET=HASGUH983tyhohOhofgdhsaodafpias-dfasasdfuaw389OHFA
REFRESH_TOKEN_EXPIRY = 10d
CLOUDINARY_CLOUD_NAME=qsy2vxob
CLOUDINARY_API_KEY=367249419542543
CLOUDINARY_API_SECRET = 9dP3zBXZ2S5GxDwzZSAwppoRRaY